<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weekend Warrior</title>
  </head>
  <body>
    <h1>
    <%= typeof weekday %>
    <br><br>
      Hey! It's the <% if (weekday) { %> weekday, it's time to work hard! <% }
      else { %> weekend, it's time to have fun! <% } %>
    </h1>
  </body>
</html>
