<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pizza Party</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    <div class="container vh-100">
      <div class="p-3 text-center rounded-3">
        <img class="bi mt-5 pizza" src="./images/pizza.png" alt="Pizza" />

        <% if (!locals.data) { %>
          <h1 class="text-body-emphasis mt-3">
            How many pizzas can you
          </h1>
          <h1 class="text-body-emphasis mb-3">buy with 10,000 coins?</h1>
        <% } else { %>
          <h1 class="text-body-emphasis mt-3">
            You can buy <%= data.count %> pizzas with 10,000 <%= data.coin %>.
          </h1>
          <h1 class="text-body-emphasis mb-3">(1 &nbsp;<%= data.coin %>
            = <%= data.price %> USD)</h1>
        <% } %>
        <p class="col-lg-8 mx-auto fs-6">
          In 2010, Laszlo Hanyecz paid Jeremy Sturdivant 10,000 bitcoins (BTC)
          for two large pizzas from Papa John’s.
        </p>
        <p class="col-lg-8 mx-auto fs-6">
          10,000 BTC was worth about USD 41 in 2010, or USD 57 today (August
          2023).
        </p>
        <p class="col-lg-8 mx-auto fs-6">
          A large pizza from Papa John's costs about USD 20 today.
        </p>
        <form id="myForm" method="post">
          <div class="d-flex justify-content-center gap-3 box">
            <button
              class="d-inline-flex align-items-center justify-content-center btn btn-warning btn-lg px-4 rounded-pill"
              name="coin"
              type="submit"
              value="BTC"
            >
              <img
                src="images/bitcoin.png"
                alt="Image"
                width="30px"
                height="30px"
              />
              &nbsp;Bitcoin
            </button>
            <button
              class="d-inline-flex align-items-center justify-content-center btn btn-dark btn-lg px-4 rounded-pill"
              name="coin"
              type="submit"
              value="ETH"
            >
              <img
                src="images/ethereum.png"
                alt="Image"
                width="30px"
                height="30px"
              />
              &nbsp;Ethereum
            </button>
          </div>
        </form>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
