body {
  background-color: #f2ee9d;
}

.form-check-input:checked {
  background-color: green !important;
  border: 0;
}
.form-check-input:focus,
.label::after,
label.form-check-label:focus,
.form-check-input::after,
.form-check-input:not(:disabled):not(.disabled):active:focus {
  color: black;
  outline: 0;
  border: 0;
  box-shadow: 0 0 0 0.1rem green !important;
}

.date-hero {
    background-color: red;
    color: white;
}

.form-check-input:checked + .form-checked-content {
  text-decoration: line-through;
}